python-mocutils/debian/files
python-mocutils/debian/python-mocutils
python-mocutils/debian/python-module-stampdir
python-mocutils/build
python-mocutils/dist
*.pyc
*.~
*.deb
*.tar.gz
*.log
*.debhelper
*.substvars
*.dsc
*.changes
vmlinuz
initrd.img
SPL/build
SPL/dist
.venv
spl.egg-info
*.db
